@font-face {
  font-family: "TT Interfaces";
  src: url("/font-family/TTInterfaces-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Interfaces";
  src: url("/font-family/TTInterfaces-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("/font-family/TTInterfaces-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #cdcdcd;
  /* padding: 0 calc(100% / 2 - 720px ); */
}

.scroll-none {
  overflow: hidden;
}
.blur {
  filter: blur(13px);
}
.active__burger {
  display: inherit !important;
}

.burger-menu {
  transform: translate(0, 0) !important;
  transition: all 0.5s ease 0s;
}
.header__burger {
  display: none;
}

/* --- начало hedaer ---  */
.header {
  display: flex;
  justify-content: space-between;
  padding: 61px 170.8px 0px 120px;
  align-items: center;
}

.open-burger {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__left-content {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 27.5601px;
  line-height: 29px;

  color: #2b2b2b;
}

.header__right-content {
  display: flex;
  gap: 46px;
  align-items: center;

  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 32.4784px;
  line-height: 113.1%;

  color: #2b2b2b;
}

.header__button {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 113.1%;
  color: #cdcdcd;
  border: none;

  text-align: center;
  background: #2b2b2b;
  border-radius: 65.1653px;
  padding: 17.6877px 39.0992px;
}

.header__button:hover {
  background: #fa4515;
}

/* начало cover */

.cover__header {
  padding: 0 0 0 138.63px;
  margin-bottom: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.cover__imgs {
  display: flex;
  overflow: hidden;
}

.cover__logo {
  position: relative;
  /* left: 340px;
  width: 688.17px; */
}

.medusa {
  left: -570px;
  top: 16px;
}
.hagi-vagi {
  top: 50px;
  left: -1041px;
}
.teenager {
  left: 40px;
  top: 83px;
}
.leopard {
  left: -2000px;
  top: 96px;
}

.medusa {
  animation-duration: 4s;
  animation-name: medusa;
  animation-iteration-count: infinite;
}

@keyframes medusa {
  from {
    opacity: 0;
    transofrm: rotate(deg);
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.hagi-vagi {
  animation-duration: 4s;
  animation-name: hagi-vagi;
  animation-iteration-count: infinite;
}

@keyframes hagi-vagi {
  from {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  65% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.teenager {
  animation-duration: 4s;
  animation-name: teenager;
  animation-iteration-count: infinite;
}

@keyframes teenager {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}
.leopard {
  animation-duration: 4s;
  animation-name: leopard;
  animation-iteration-count: infinite;
}

@keyframes leopard {
  from {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  95% {
    opacity: 1;
  }

  5% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.span__medusa {
  animation-duration: 4s;
  animation-name: span__medusa;
  animation-iteration-count: infinite;
}

@keyframes span__medusa {
  from {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.span__hagi-vagi {
  animation-duration: 4s;
  animation-name: span__hagi-vagi;
  animation-iteration-count: infinite;
}

@keyframes span__hagi-vagi {
  from {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.cover__title {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 600;
  /* font-size: calc(37.31px + 192.798 * (100vw / 1920)); */
  font-size: 232.108px;

  position: absolute;
  bottom: 59px;
  text-align: center;
  text-transform: lowercase;

  color: #212223;
}

.cover__title span {
  opacity: 1;
}

/* начало discription */

.cover__description {
  padding: 0px 0px 0px 140px;
  margin-bottom: 416px;
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  /* font-size: 103.965px; */

  /* font-size: calc(30.18px + 73.78 * (100vw / 1920)); */
  font-size: 5.4148vw;

  line-height: 113.1%;

  color: #212223;
}

.discription__heart {
  vertical-align: top;
  margin-top: 39px;
}

.cover__small-title {
  padding-left: 571px;
  margin-bottom: 62px;
  display: flex;
  gap: 24.3px;
  align-items: center;
}

.cover__left-subtitle {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 102.421px;
  line-height: 127px;

  text-align: center;
  text-transform: lowercase;

  color: #2b2b2b;
}

.cover__right-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 31.5601px;
  line-height: 29px;
  color: #2b2b2b;
}

/* --- form --- */

.push-form {
  position: relative;
}

.push-form__img {
  width: 100%;
  object-fit: cover;
  min-height: 457px;
}

.push-form__content {
  position: absolute;
  top: 0;
  width: 100%;
}

.push-form__title {
  margin-top: 174px;
  margin-left: 135px;
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  /* font-size: 99.3224px; */
  font-size: calc(30px + 69.32 * (100vw / 1920));
  line-height: 97px;
  color: #ffffff;
  margin-bottom: 143.73px;
}

.push-form__field {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 135px;
  padding-right: 150px;
}

.push-form__subtitle {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  /* font-size: 50.0342px; */
  font-size: calc(30.4px + 19.63 * (100vw / 1920));
  line-height: 113.1%;

  color: #ffffff;
}
.push-form__icons {
  margin-left: 35px;
}
.push-form__zig-zag {
  margin-left: -42px;
}

.push-form__number {
  border-bottom: 4.66981px solid #ffffff;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

.number-input {
  background: none;
  border: none;
  outline: none;
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 400;
  /* font-size: 54.07px; */
  font-size: calc(19.3px + 34.77 * (100vw / 1920));
  line-height: 113.1%;

  color: #ffffff;
}

.number-input::placeholder {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 400;
  /* font-size: 82.7815px; */
  font-size: calc(29.6px + 53.18 * (100vw / 1920));
  line-height: 113.1%;

  color: #ffffff;

  opacity: 0.3;
}

.push-form__send-button {
  align-self: center;
  padding: 18.1697px 40.1646px;
  background: #ffffff;
  border-radius: 66.9409px;
  border: none;

  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 26.7764px;
  line-height: 113.1%;

  color: #212223;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px 29px 136px;
}

.footer__right-content {
  display: flex;
  gap: 161px;
}

.lab {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 62px;

  text-align: center;
  text-transform: lowercase;

  color: #2b2b2b;
}

.lab:hover {
  color: #fa4515;
  cursor: pointer;
}
.footer__right-subtitle {
  display: none;
}

/* popup */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.35s all;
}

.active {
  display: flex;
  opacity: 1;
  visibility: visible;
  align-items: center;
  padding: 0 40px;
}

.popup__body {
  width: 100%;
  display: contents;
}
.popup__content {
  margin: auto;
  background: white;
  height: 620px;
  display: flex;
  align-items: center;
  padding: 50px 40px 60px;
  width: 100%;
  border: 3px solid #ffffff;
  color: black;
  position: relative;
  max-width: 913px;
  transition: 0.35s all;
  transform: scale(0);
  background: #cdcdcd;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}
.popup__right-content {
  display: flex;
  flex-direction: column;
  margin-left: 43px;
  row-gap: 73px;
}
.popup-discription {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 21.2709px;
  line-height: 22px;

  text-transform: lowercase;

  color: #212223;
}
.popup-button {
  padding: 17.6877px 39.0992px;
  gap: 9.31px;
  color: white;
  background: #262626;
  border-radius: 65.1653px;
  width: fit-content;

  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 113.1%;

  text-align: center;

  color: #cdcdcd;

  cursor: pointer;
}

.popup-button:hover {
  background: #fa4515;
}

.popup__img {
  max-width: 410px;
}
.popup__img img {
  width: 100%;
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  cursor: pointer;
}

.popup.active .popup__content {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

/* media */

@media screen and (max-width: 1800px) {
  .cover__title {
    font-size: 200.31px;
    bottom: 50px;
  }
  .medusa {
    width: 581.5px;
    height: 773.7px;
    left: -485px;
    top: 60px;
  }
  .hagi-vagi {
    left: -881px;
    top: 45px;
    width: 746.76px;
    height: 823.88px;
  }
  .teenager {
    left: 36.52px;
    top: 69.62px;
    height: 823px;
  }
  .leopard {
    width: 1050px;
    height: 823.88px;
    left: -1705px;
    top: 70px;
  }
  .discription__heart {
    vertical-align: baseline;
    margin-top: 0px;
    width: 3.18vw;
  }
  .cover__left-subtitle {
    font-size: 5.3348vw;
  }
  .cover__right-subtitle {
    font-size: 1.63vw;
  }
}

@media screen and (max-width: 1600px) {
  .cover__title {
    font-size: 170.31px;
  }
  .teenager {
    height: 699.55px;
    left: 31.04px;
    top: 51.65px;
  }
  .medusa {
    width: 494.27px;
    height: 657.64px;
    left: -413px;
    top: 29px;
  }
  .hagi-vagi {
    left: -748px;
    top: 48px;
    width: 634px;
    height: 670px;
  }
  .leopard {
    width: 907px;
    height: 707px;
    left: -1453px;
    top: 56px;
  }
  .cover__small-title {
    padding-left: 0px;
    justify-content: center;
  }
  .cover__description {
    margin-bottom: 316px;
  }
  .push-form__title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .push-form__field {
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
  }
  .push-form__number {
    padding-bottom: 15px;
  }
  .footer__right-content {
    gap: 60px;
  }
  .push-form__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 79px;
  }
  .push-form__star {
    width: 43px;
  }
  .push-form__zig-zag {
    margin-left: -30px;
    width: 90px;
  }
  .lab {
    font-size: 2.604vw;
  }
}

@media screen and (max-width: 1400px) {
  .header {
    margin: 0 auto;
    max-width: 1343px;
    padding: 61px 50px 0px 143px;
  }
  .teenager {
    height: 607.55px;
    left: 21.04px;
    top: 52.65px;
  }
  .medusa {
    width: 408.27px;
    height: 552.64px;
    left: -357px;
    top: 55px;
  }
  .hagi-vagi {
    left: -636px;
    top: 80px;
    width: 544px;
    height: 545px;
  }
  .leopard {
    width: 775px;
    height: 602px;
    left: -1245px;
    top: 56px;
  }
  .cover__title {
    font-size: 145.31px;
    bottom: 35px;
  }
  /* .cover__logo {
    width: 435px;
    left: 216px;
  } */
  .cover__description {
    margin-bottom: 266px;
  }
}

@media screen and (max-width: 1230px) {
  .cover__title {
    font-size: 115.31px;
    bottom: 25px;
  }
  /* .cover__logo {
    width: 343px;
    left: 170px;
  } */
  .teenager {
    height: 482.55px;
    left: 16.04px;
    top: 42.8px;
  }
  .medusa {
    width: 324px;
    height: 438.8px;
    left: -284px;
    top: 46px;
  }
  .hagi-vagi {
    left: -507px;
    top: 64px;
    width: 433px;
    height: 433px;
  }
  .leopard {
    width: 615px;
    height: 478px;
    left: -988px;
    top: 56px;
  }
  .cover__description {
    margin-bottom: 216px;
  }
  .push-form__title {
    line-height: 67px;
  }
  .push-form__content {
    row-gap: 60px;
  }
  /* .number-input::placeholder {
    font-size: 30px;
  } */
  .cover__left-subtitle {
    line-height: 58px;
  }
  .popup__content {
    height: 467px;
    max-width: 700px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 41px 20px 0;
    margin: 0 auto;
    max-width: 700px;
  }
  .cover {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .cover__header {
    padding: 0;
    align-items: center;
    margin-bottom: 59px;
    /* width: 100%; */
  }
  .cover__title {
    font-size: 100.31px;
    bottom: 20px;
  }
  /* .cover__logo {
    width: 300px;
    left: -52px;
  } */
  .cover__imgs {
    position: relative;
    width: 100%;
  }
  .teenager {
    position: absolute;
    height: 419.8px;
    left: -68.96px;
    top: 41.8px;
  }
  .medusa {
    position: absolute;
    width: 282px;
    height: 381.7px;
    left: 75px;
    top: 42px;
  }
  .hagi-vagi {
    position: absolute;
    left: 160px;
    top: 60px;
    width: 376.7px;
    height: 376.7px;
  }
  .leopard {
    width: 535px;
    height: 416px;
    left: 112px;
    top: 51px;
  }
  .cover__description {
    padding-left: 0;
    font-size: 49px;
    margin-bottom: 166px;
  }
  .push-form__content {
    max-width: 700px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    row-gap: 50px;
  }
  .push-form__title {
    margin-left: 0;
    font-size: 45px;
    line-height: 50px;
  }
  .push-form__field {
    padding: 0;
  }
  .push-form__subtitle {
    font-size: 30px;
  }
  .cover__left-subtitle {
    line-height: 58px;
  }
  .push-form__send-button {
    padding: 15.1697px 40.1646px;
    font-size: 20.7764px;
    line-height: 83.1%;
  }
  .footer {
    padding: 20px 20px 29px;
    margin: 0 auto;
    max-width: 700px;
  }
  .lab {
    font-size: 3.604vw;
  }
  .number-input::placeholder {
    font-size: 52.7815px;
  }
  .popup__content {
    height: 359px;
    max-width: 565px;
    padding: 70px 40px 60px;
  }
  .popup__right-content {
    row-gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 0 20px 0 20px;
  }

  .cover__title {
    position: relative;
    font-size: 12.41vw;
    bottom: 19px;
  }
  /* .cover__logo {
    width: 300px;
    left: 0px;
  } */
  .cover__title span {
    opacity: 1;
  }

  .cover__imgs {
    position: relative;
    width: 100%;
  }

  .teenager {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-100%, -50%);
    width: auto;
    height: 322px;
    margin-left: 0px;
  }

  .span__medusa {
    animation-duration: 4s;
    animation-name: span;
    animation-iteration-count: infinite;
  }

  .span__hagi-vagi {
    animation-duration: 4s;
    animation-name: span;
    animation-iteration-count: infinite;
  }

  .medusa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-60%, -50%);
    width: auto;
    height: 320px;
    margin-left: 0px;
  }
  .hagi-vagi {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-40%, -50%);
    width: auto;
    height: 320px;
    margin-left: 0px;
  }
  .leopard {
    left: 0;
    top: 0;
    position: relative;
    height: 320px;
    margin: 0 auto;
    width: auto;
  }

  .cover__description {
    padding-left: 0;
    font-size: 7.425vw;
    margin-bottom: 96px;
  }
  .discription__heart {
    width: 4.18vw;
  }
  .cover__small-title {
    margin-bottom: 42px;
  }
  .cover__right-subtitle {
    line-height: 12px;
  }
  .header__right-content {
    gap: 25px;
  }
  .header__left-content {
    font-size: 17.5601px;
    line-height: 23px;
  }
  .header__career {
    font-size: 16.4461px;
  }
  .header__button {
    padding: 11.12414px 22.1692px;
    font-size: 16.4461px;
  }
  .push-form__content {
    padding: 0 20px;
  }
  .push-form__title {
    font-size: 35px;
    line-height: 40px;
  }
  .push-form__icons {
    margin-left: 20px;
  }
  .push-form__star {
    width: 35px;
  }
  .push-form__zig-zag {
    margin-left: -25px;
    width: 70px;
  }
  .push-form__number {
    padding-bottom: 10px;
  }
  .push-form__send-button {
    padding: 11.12414px 22.1692px;
    font-size: 15.4461px;
  }
  .number-input {
    font-size: 25.7815px;
  }
  .number-input::placeholder {
    font-size: 35.7815px;
  }
  .popup__content {
    height: 348px;
    max-width: 378px;
    padding: 20px;
  }
  .popup__right-content {
    row-gap: 20px;
    margin-left: 20px;
  }
  .popup__img {
    width: 50%;
  }
  .popup-discription {
    font-size: 15.2709px;
    line-height: 17px;
  }
  .popup-button {
    padding: 12.12414px 23.1692px;
    font-size: 16.4461px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    position: absolute;
    height: 100%;
    background-color: white;
    z-index: 1;
    width: 100%;
    /* top: -100%; */
    transform: translate(0, -100%);
    transition: all 0.6s ease 0s;
    align-items: flex-start;
  }
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
  }

  .open-burger {
    display: inherit;
  }

  .header__button {
    padding: 9.12414px 20.1692px;
    font-size: 16.4461px;
  }
  .cover__header {
    margin-bottom: 44px;
    margin-top: 30px;
  }
  .teenager {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-90%, -50%);
    width: auto;
    height: 258px;
    margin-left: 0px;
  }

  .medusa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-60%, -50%);
    width: auto;
    height: 258px;
    margin-left: 0px;
  }
  .hagi-vagi {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-40%, -50%);
    width: auto;
    height: 258px;
    margin-left: 0px;
  }
  .leopard {
    width: 300px;
    height: 258px;
    right: 0;
    left: 0;
    position: relative;
    margin: 0 auto;
  }
  .cover__title {
    font-size: 37.31px;
  }
  /* .cover__logo {
    width: 216px;
  } */
  .cover__description {
    font-size: 30.18px;
    margin-bottom: 88px;
  }
  .cover__small-title {
    display: none;
  }
  .push-form__content {
    width: auto;
    row-gap: 70px;
  }
  .push-form__title {
    font-size: 30px;
    line-height: 29.09px;
  }
  .push-form__subtitle {
    font-size: 30.4px;
    line-height: 34.39px;
  }
  .push-form__star {
    width: 30px;
  }
  .push-form__zig-zag {
    margin-left: -22px;
    width: 65px;
  }
  .push-form__send-button {
    padding: 9.12414px 20.1692px;
    font-size: 13.4461px;
  }
  .popup__content {
    height: 250px;
    max-width: 294px;
    padding: 20px;
  }
  .popup-discription {
    font-size: 11.2709px;
    line-height: 15px;
  }
  .popup__right-content {
    row-gap: 15px;
  }

  .popup-button {
    padding: 9.12414px 20.1692px;
    font-size: 14.4461px;
  }

  .popup__close img {
    width: 20px;
    height: 20px;
  }

  .number-input {
    font-size: 14.7815px;
  }
  .number-input::placeholder {
    font-size: 25.6px;
    line-height: 33.48px;
  }
  .footer__right-subtitle {
    display: inherit;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 10.6749px;
    line-height: 11px;
    color: #2b2b2b;
  }
  .footer {
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    padding: 11px 20px;
  }
  .footer-label {
    font-family: "TT Interfaces";
    font-style: normal;
    font-weight: 500;
    font-size: 30.6073px;
    line-height: 38px;

    text-align: center;
    text-transform: lowercase;

    color: #2b2b2b;
  }
  .footer-call {
    display: none;
  }
  .footer-send {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header__burger {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    background: #212223;
    transition: all 0.6s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background: #212223;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.6s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active__burger:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active__burger:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active__burger span {
    transform: scale(0);
  }
}

/* ---------- убирает автокомплит у инпутов --------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}
