.cover {
  position: absolute;
  z-index: 1111;
  background-color: #cdcdcd;
  width: 100%;
  min-height: 105vh;
  /* overflow: auto; */
}

.cover_hidden {
  animation: cover_hidden 6000ms;
  bottom: 0;
}

#cover__observer {
  height: 1px;
  position: absolute;
  bottom: 0;
}

@keyframes cover_hidden {
  from {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }

  25% {
    transform: scale(0.8) rotate(0deg) translate(0, -20vh);
  }

  to {
    transform: scale(0.8) rotate(-130deg) translate(-20vw, -120vh);
  }
}

.cover__content {
  max-width: 1920px;
  margin: 0 auto;
}

.cover__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 61px 170px 0 120px;
}

.cover__headerH {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 27.5601px;
  line-height: 29px;
  color: #2b2b2b;
}

.cover__headerBtns {
  display: flex;
  align-items: center;
  gap: 46px;
}

.cover__btnCareer {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 32.4784px;
  line-height: 113.1%;
  color: #2b2b2b;

  background: none;
}

.cover__btnProject {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 113.1%;
  color: #cdcdcd;

  background: #2b2b2b;
  border-radius: 65.1653px;
  padding: 18px 39px;
}

.cover__boxLogo {
  position: relative;
  padding-top: 40.38%;
  margin: 0 0 178px 0;
}

.cover__logoTitle {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 600;
  font-size: 230.108px;
  line-height: 288px;
  text-align: center;
  text-transform: lowercase;
  color: #212223;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.cover__imgBox {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.cover__logoImg {
  position: absolute;
  top: 0;
}


.medusa {
  animation-duration: 4s;
  animation-name: medusa;
  animation-iteration-count: infinite;
  left: 25%;
}

@keyframes medusa {
  from {
    opacity: 0;
    transofrm: rotate(deg);
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.hagi-vagi {
  animation-duration: 4s;
  animation-name: hagi-vagi;
  animation-iteration-count: infinite;
}

@keyframes hagi-vagi {
  from {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  65% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.teenager {
  animation-duration: 4s;
  animation-name: teenager;
  animation-iteration-count: infinite;
}

@keyframes teenager {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}
.leopard {
  animation-duration: 4s;
  animation-name: leopard;
  animation-iteration-count: infinite;
}

@keyframes leopard {
  from {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  95% {
    opacity: 1;
  }

  5% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.span__medusa {
  animation-duration: 4s;
  animation-name: span__medusa;
  animation-iteration-count: infinite;
}

@keyframes span__medusa {
  from {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.span__hagi-vagi {
  animation-duration: 4s;
  animation-name: span__hagi-vagi;
  animation-iteration-count: infinite;
}

@keyframes span__hagi-vagi {
  from {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.cover__p {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 103.965px;
  line-height: 113.1%;
  color: #212223;

  padding: 0 0 0 140px;
  margin: 0 0 500px 0;
}

.cover__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.cover__footerH {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 102.421px;
  line-height: 127px;
  text-align: center;
  text-transform: lowercase;
  color: #2b2b2b;
}

.cover__footerP {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 35.7214px;
  line-height: 37px;
  color: #2b2b2b;
}
