.customInput {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 20px 0;
  border-bottom: 4.66981px solid #ffffff;
}

.customInput__input {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 400;
  font-size: 82.7815px;
  line-height: 113.1%;

  background: none;
  max-width: 500px;
  color: #ffffff;
}

.customInput__input::placeholder {
  opacity: 0.3;
}

.customInput__btnWrapper {
  position: relative;
}

.customInput__btn {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 26.7764px;
  line-height: 113.1%;
  color: #212223;

  padding: 19px 40px;
  background: #ffffff;
  border-radius: 66.9409px;
  cursor: pointer;
}

.customInput__btn:hover {
  opacity: 0.5;
}

.customInput__iconStar {
  position: absolute;
  top: -77px;
  left: 30px;
}

.customInput__iconZigZag {
  position: absolute;
  top: -115px;
  left: 50px;
}