/* @font-face {
  font-family: "TT Interfaces";
  src: url("/font-family/TTInterfaces-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
} */

@font-face {
  font-family: "TT Interfaces";
  src: url("/font-family/TTInterfaces-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* @font-face {
  font-family: "TT Interfaces";
  src: url("/font-family/TTInterfaces-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
} */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  outline: none;
  border: none;
}

body {
  background-color: #cdcdcd;
  /* height: 100vh; */
  /* overflow: hidden; */
  min-height: 100vh;
}

.mainScreen {
  position: relative;
}

.mainScreen__img {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  z-index: -1;
}

.mainForm {
  max-width: 1920px;
  padding: 174px 150px 0 136px;
  width: 100%;
  margin: 0 auto;
}

.mainForm__h {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 99.3224px;
  line-height: 97px;
  color: #ffffff;

  margin: 0 0 214px 0;
}

.mainForm__inputBox {
  display: flex;
  justify-content: space-between;
}

.mainForm__customInput {
  max-width: 825px;
  width: 100%;
}

.mainForm__label {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 50.0342px;
  line-height: 113.1%;
  color: #ffffff;
}

.mainScreen__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #cdcdcd;
}

.mainScreen__footerContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 150px 29px 136px;
}

.mainScreen__footerHeader {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 62px;
  text-transform: lowercase;
  color: #2b2b2b;

  grid-column-start: 1;
  grid-column-end: 3;
}

.mainScreen__footerLetter,
.mainScreen__footerCall {
  font-family: "TT Interfaces";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 62px;
  text-transform: lowercase;

  color: #2b2b2b;
  background: none;
  cursor: pointer;
  text-align: start;
  width: fit-content;
  white-space: nowrap;
}

.mainScreen__footerLetter {
  text-align: right;
}

@media screen and (max-width: 1600px) {
  .mainForm {
    padding: 70px 150px 0 136px;
  }
  .mainForm__h {
    font-size: 6.6vw;
    margin: 0px 0 100px 0;
  }
  .mainForm__inputBox {
    flex-direction: column;
    row-gap: 30px;
  }
  .customInput__input {
    font-size: 5.17vw !important;
  }
  .customInput__input::placeholder {
    font-size: 5.9vw;
  }
  .mainScreen__footerContent {
    grid-template-columns: 1fr 0.4fr 1fr 1fr;
  }
  .mainScreen__footerHeader,
  .mainScreen__footerCall,
  .mainScreen__footerLetter {
    font-size: 3.13vw;
  }
}

@media screen and (max-width: 1400px) {
  .mainScreen__img {
    height: 750px;
    object-fit: cover;
  }
  .mainForm__inputBox {
    row-gap: 45px;
  }
}

@media screen and (max-width: 1024px) {
  .mainForm {
    padding: 70px 110px 0 110px;
  }
  .mainForm__h {
    line-height: 70px;
    color: #ffffff;
  }
  .mainForm__inputBox {
    row-gap: 70px;
  }
  .customInput__input {
    font-size: 4.17vw !important;
  }
  .mainForm__label {
    font-size: 4.9vw;
  }
  .customInput__btn {
    font-size: 20.7764px !important;
    padding: 16px 37px !important;
  }
  .customInput__iconStar {
    top: -60px !important;
    left: 38px !important;
    width: 45px;
  }
  .customInput__iconZigZag {
    position: absolute;
    top: -92px !important;
    left: 53px !important;
    width: 100px;
  }
  .mainScreen__footerContent {
    padding: 20px 110px 29px 110px;
  }
}

@media screen and (max-width: 767px) {
  .mainForm {
    padding: 70px 20px 0 20px;
    display: flex;
    justify-content: center;
}
.mainForm__h {
  line-height: 48px;
  font-size: 50px;
  color: #ffffff;
}
.mainForm__label {
  font-size: 37px;
}
.customInput__btn {
  font-size: 17.7764px !important;
  padding: 13px 34px !important;
}
.mainScreen__footer {
  width: 500px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}
.mainScreen__footerContent {
  padding: 20px 20px 29px 20px;
}
}
